
transition()
	-ms-transition all .2s ease-in-out
	-moz-transition all .2s ease-in-out
	-o-transition all .2s ease-in-out
	-webkit-transition all .2s ease-in-out
	transition all .2s ease-in-out
border-radius()
	-ms-border-radius arguments
	-moz-border-radius arguments
	-o-border-radius arguments
	-webkit-border-radius arguments
	border-radius arguments
box-sizing()
	-ms-box-sizing border-box
	-moz-box-sizing border-box
	-o-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box
*
	border 0	
	margin 0
	padding 0
body,html
	background #fff
	height 100%	
section
	background transparent
	box-sizing()
	font normal normal 14px arial
	height 100%
	margin 0 auto	
	position relative
	width 100%

.form-signin
	margin 0 !important	
	background #4D4D4D	
	box-shadow 0 0 5px rgba(0,0,0,.2)
	color white	
	text-align center	
	z-index 100
	h2
		background rgba(11,222,221,.9)		
		box-sizing()
		display block
		margin 0
		padding 3px	
		width 100%
		top 0
	.wrap_form_signin
		padding 10px
		input[type=text]
			border 2px solid turquoise 
			border-radius(4px)
			color #333
			display block
			font normal normal 16px arial
			margin 0 auto
			margin-bottom 4px
			outline none
			padding 5px
		button
			background #933493
			color white
			cursor pointer
			font bold normal 14px arial
			padding 4px 7px
			&:hover
				background lighten(#933493, 20%)

.content_top
	background #D4D4D4
	border 1px solid #E1E2DE	
	.nameUsuario
		color white
		text-shadow 0 0 2px rgba(0,0,0,.2)
		font-weight bold
		display inline-block
		padding 5px
	.signOut
		background #008080
		color white
		cursor pointer
		font-size 18px
		padding 7px 7px
		right 0
		transition()
		&:hover
			background #D20000
	.countChar
		background #F9F9F9
		border 1px solid transparent
		border-top 0
		font-weight bold		
		color red
		padding 5px
		text-shadow 0px 1px rgba(0,0,0,.5)

.form_messageIn .inputMessage
	background #F9F9F9
	border 1px solid transparent
	border-top-color #C8C8C8
	border-bottom 0
	box-sizing()
	color #666666
	font normal normal 14px arial
	margin 0 auto
	outline none
	padding 7px
	padding-bottom 10px
	position relative
	width 100%

.box_priv
	background darken(turquoise, 30%)
	border 1px solid darken(turquoise, 60%)
	border-radius(5px)
	box-sizing()
	box-shadow 0 0 3px rgba(0,0,0,.2)
	color white
	display none
	font bold normal 16px helvetica
	left 50%
	margin-top -450px
	margin-left -150px
	padding 0
	position fixed
	width 300px
	z-index 100
	label
		background darken(turquoise, 60%)
		box-sizing()
		display block
		padding 3px	
		width 100%
		top 0
	form
		box-sizing()
		padding 10px
		width 100%
		input
			background crimson
			cursor pointer
			color white
			display block
			font-weight bold
			margin 5px auto
			padding 5px
			width 100px
			&:hover
				background lighten(crimson, 20%) 
		span
			display block
			width 100%
		textarea
			box-sizing()
			border-radius(4px)
			color lighten(black, 45%)
			display block
			font normal normal 16px arial
			padding 5px
			resize none
			width 100%
	

.content_messages
	background transparent
	border 1px solid #fafafa
	border-radius(4px)
	height 70%
	font-size 16px
	margin 0 auto
	width 100%
	.messageWrap
		background #fff
		border-bottom 1px solid #F5F5F5				
		box-sizing()
		color #333
		cursor pointer
		padding 10px
		position relative
		transition()
		width 100%
		.divTime
			display none
			font-size 12px
			padding-right 2px
			position absolute
			right 0
			transition()
			top 0
		.divUser
			font-weight bold
			margin-bottom 5px
			color #00CACA			
		.divMessage
			word-wrap break-word
		&:hover
			background #FCFCFC
			.divTime
				transition()
				display block
	.messageWrap_Mio
		background #EFEFEF	
		.divUser
			color #333
.content_options	
	width 100%
	text-align center
	font-size 0
	.optionMessages, .optionUsers, .optionPrivates		
		border-right thin solid #F3F3F3
		color #333
		cursor pointer
		display inline-block
		vertical-align top
		font-size 24px
		padding 10px
		transition()
		&:hover
			color #fff
			background #068AEC
.content_users
	border 1px solid #fafafa
	background #fff	
	display none
	height 70%
	margin 0 auto
	width 100%
	ul 
		li		
			border 1px solid #E4E4E4		
			cursor pointer
			word-wrap break-word
			display block
			font-weight bold
			font-size 16px
			padding 15px
			color crimson
			&:hover
				background #EFEFEF
		
.content_privates
	background transparent
	border 1px solid #fafafa
	border-radius(4px)
	display none
	height 70%
	margin 0 auto
	width 100%
	.messageWrap
		background #fff
		border-bottom 1px solid #EFEFEF				
		box-sizing()
		color #333
		padding 5px
		position relative
		width 100%
		.divTime
			font-size 12px
			padding-right 2px
			position absolute
			right 0
			top 0
		.divUser
			font-weight bold
			color orange			
		.divMessage
			padding 10px
			word-wrap break-word
	.messageWrap_Mio
		background #616161	

.info
	text-align center
	color #A2A2A2 !important
	font-weight 100 !important
	font-size 16px
	border 0
	padding 20px
.waitShow
	background crimson
	color #fff !important
.hablaA
	color #333
	font-weight normal

.userTarget{
	color #41DC14
	font-weight bold	
	padding-left 4px
	text-shadow 0px 1px rgba(0,0,0,.7)
}

@media screen and (max-width: 720px)
	.box_priv
		margin-left -120px